Markdown~=3.6
bs4~=0.0.2
pdfminer==20191125
PyPDF2~=3.0.1
requests~=2.31.0
selectorlib~=0.16.0
beautifulsoup4~=4.12.3
lxml~=5.2.2
urllib3~=2.2.1
requests-random-user-agent==2023.2.15
pathvalidate~=3.2.0
defusedxml~=0.7.1
certifi~=2024.2.2